* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #39a6b2;
	font-family: Arial, Helvetica, sans-serif;
	background-color: none;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: -webkit-sticky;
	position: sticky;
	padding: 20px 35px;
	background-color: #e27951cc;
	position: relative;
}
header h1 {
	font-weight: bold;
	font-size: 36px;
	color: #024e76;
	/* position: absolute; */
	position: auto 70px;
}
header img {
	display: flex;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
header a {
	text-decoration: none;
	color: #024e76;
}
header nav {
	float: right;
	margin: 7px 0;
}
header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
header nav ul li a {
	padding: 10px 15px;
	font-weight: lighter;
	font-size: 22px;
	font-weight: 11.55vw;
}
footer {
	background-color: #e27951cc;
	width: 100%;
	padding: 40px 35px;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer h2 {
	display: flex;
	color: #024e76;
	font-size: 30px;
	margin: 0%;
}

/* Hero Style Start */
.hero {
	background-image: url("../images/IMG_0350.jpg");
	height: 300px;
	background-size: cover;
	background-position: center;
	position: relative;
}
/* Hero Style End */
.hero h2 {
	background-color: burlywood;
	padding: 20px;
	color: #024e76;
	position: absolute;
	bottom: 60px;
	right: 70px;
	border-radius: 5%;
}
.about {
	display: flex;
}
.about-info {
	padding: 1em;
}
.p {
	color: #39a6b2;
	font-size: 20px;
	margin: 0 auto;
}
.title {
	color: #024e76;
	padding: 0 130px 20px 50px;
	border-right: 3px solid;
	display: flex;
	width: 30%;
}
h2 {
	font-size: 2em;
	color: #024e76;
}
p {
	font-size: 1em;
	color: #024e76;
}
.work {
	display: flex;
}
.work-content {
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}
.new {
	width: 100%;
}
.old {
	width: 50%;
}

.outline {
	border: 2px gray dashed;
}
section {
	clear: both;
}
img {
	width: 100%;
}

.contact {
	display: flex;
}

.contact-link {
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}
.contact-link ul {
	/* display: flex; */
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 1em;
	list-style: none;
}

.contact-link ul li a {
	padding: 10px 5px;
	font-weight: bolder;
	font-weight: 11.55vw;
}
